*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

span {
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input, button, textarea, select {
    font-family: inherit;
}

.lock {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 930px;
}

.header {
    background-color: khaki;
}

.header__body {
    padding: 10px 0;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.form__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.users__body {
    padding: 10px 0;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.user {
    cursor: pointer;
    padding: 10px;
    border: 3px solid grey;
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
    transition: all 0.2s ease-in-out;
}

.user:hover {
    background-color: khaki;
}

.user__name {
    font-size: 22px;
    margin-bottom: 10px;
}

.user__info {
    font-size: 16px;
}

.user__info span {
    font-weight: 600;
}

.user__info:not(:last-child) {
    margin-bottom: 5px;
}

input::placeholder {
  color: black;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transition: all 0.2s ease-in-out;
}

.modal--active {
    opacity: 1;
    visibility: visible;
}

.modal__body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modal__content {
    min-height: 60px;
    z-index: 10;
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    background-color: white;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.modal__title {
    font-size: 22px;
}

.modal__info {
    font-size: 16px;
}

.modal__info span {
    font-weight: 600;
}

.modal__close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border: 3px solid grey;
    background-color: tomato;
}
