.game {
	display: flex;
	padding: 20px;
	margin: 20px;
	border: 3px solid transparent;
	&__leftSide {
		padding: 15px;
		flex-basis: 25%;
		background-color: white;
        border-radius: 10px;
	}

	&__center {
		flex-basis: 50%;
	}

	&__rightSide {
		flex-basis: 25%;
        padding: 15px;
		background-color: white;
        border-radius: 10px;
	}
}
.game-info {
	margin: 15px;
	color: #ffffff;
}
.disabled {
	.btn {
		cursor: not-allowed;
		&:hover {
			top: 0;
			background: #ffffff;
			color: #e5dc15;
			box-shadow: 0 12px #c2bb11, 0 18px rgba(0, 0, 0, 0.4);
		}
	}
}
